@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root{
    --a:0;
}

body {
    background-color: black;
    color: white;
}

header {
    width: 100%;
    height: 6.5vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

nav ul li {
    list-style: none;
    padding: 0 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgb(151, 151, 151);
    font-weight: bold;
}

nav ul li:hover {
    font-size: 17px;
    color: rgb(172, 172, 172);
}

nav ul {
    height: 6.5vh;
    display: flex;
    align-items: center;

}

#hb {
    padding: 10px;
    background-color: #3a3a3a;
    border: none;
    border-radius: 28px;
}

#hb:hover {
    padding: 10px;
    background-color: #4e4e4e;
    border: none;
    border-radius: 28px;
}

.bar {
    width: 25vw;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    margin: 10px;
    padding: 0 13px;
    padding-top: 4px;
    border-radius: 28px;
}

.bar:hover {
    background-color: #2e2e2e;
}

#s1 {
    width: 18vw;
    height: 40px;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    cursor: text;
    color: white;
}

.browse {
    margin-left: 3.5vw;
    cursor: pointer;
}

.logo {
    margin-left: 5px;
    cursor: pointer;
}

.home {
    margin-left: 30vw;
}

.bar {
    margin-right: 7vw;
}

/* ======================================================================================== */
.boxes {
    display: flex;
    gap: 7px;
    margin: 0 10px;
}

.box1 {
    width: 23vw;
    min-height: 92vh;
    background-color: #121212;
    position: relative;
    border-radius: 10px;
}

.box2 {
    width: 77vw;
    background-color: #121212;
    min-height: 92vh;
    border-radius: 10px;
    position: relative;
}

.library {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    margin: 14px;
    color: white;
}

#lb {
    font-size: 30px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.footer {
    display: flex;
    gap: 12px;
    margin: 5px;
    padding: 5px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 4px;
    left: 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 13px;
}

#sb {
    width: 77px;
    height: 45px;
    background: transparent;
    font-size: 17px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    border: none;
    color: rgb(151, 151, 151);


}

#sb:hover {
    font-size: 18px;
    color: rgb(179, 179, 179);
}

#lgb {
    width: 77px;
    height: 45px;
    border-radius: 28px;
    font-size: 17px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding: 7px;

}

#lgb:hover {
    font-size: 18px;
    background-color: rgb(223, 223, 223);
    width: 78px;
    height: 46px;
}

.spotifyplaylist {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    padding: 30px;
    overflow-y: scroll;
    max-height: 86.5vh;

}

.cardcontainer {
    padding-top: 10px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    max-height: 72vh;

}

.card {
    width: 200px;
    background-color: #292929;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition: all 1s;
}
.card:hover{
    background-color: rgb(58, 58, 58);
    --a:1;
}
.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card,h2,p {
    padding-top: 10px;
}

.playbut {
    position: absolute;
    right: 14px;
    top: 160px;
    opacity: var(--a);
    transition: all 1s;
}

.playbut img {
    width: 45px;
}

.playbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(53 51 51);
    border-radius: 10px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.songbuttons {
    height: 7vh;
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;

}

.songbuttons button {
    background-color: transparent;
    border: none;
    opacity: 0.6;
}

.songbuttons button:hover {
    opacity: 1;
}

.songlist {
    padding: 15px 30px;
    height: 600px;
    overflow-y: scroll;
}

.songlist ul li {
    list-style-type: decimal;
    padding: 5px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 17px;
    padding: 10px;
    border: 2px solid rgb(197, 197, 197);
    margin: 14px 0;
    border-radius: 5px;
    /* justify-content: space-around; */
}

.songlist ul li img {
    cursor: pointer;
}

.songinfo {
    width: 130px;
}

.playnow {
    width: 143px;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    cursor: pointer;
}

.seekbar {
    height: 4px;
    width: 55vw;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.allign {
    display: flex;
    position: absolute;
    justify-content: space-between;
    bottom: 10px;
    width: 70%;
    height: 7vh;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.hamburger {
    display: none;
}

.cross {
    display: none;
}

.cross {
    display: none;
}

.volume {
    display: flex;
    width: 160px;
    height: 3vh;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: -3vh;
    background-color: rgb(53 51 51);
    
}
.volume img{
    cursor: pointer;
}
.range input{
    cursor: pointer;
}


@media (max-width: 1775px) {
    .home {
        margin-left: 20vw;
    }

    .bar {
        margin-right: 6vw;
    }

}

@media (max-width: 1475px) {
    .songlist ul li {
        font-size: 12px;
        gap: 15px;
        padding: 8px;

    }

    nav ul li {
        font-size: 13px;
        color: rgb(172, 172, 172);
    }

    #sb {
        width: 75px;
        height: 42px;
        background: transparent;
        font-size: 14px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        border: none;
        color: rgb(151, 151, 151);


    }

    #lgb {
        width: 75px;
        height: 42px;
        border-radius: 28px;
        font-size: 14px;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        padding: 5px;

    }

    .home {
        margin-left: 16vw;
    }

    .playnow {
        width: 7vw;
        display: flex;
        font-size: 11px;
        justify-content: center;
        align-items: center;
        gap: 13px;
        cursor: pointer;
    }

    .browse {
        margin-left: 2.6vw;
        cursor: pointer;
    }
}

@media (max-width: 1400px) {
    .box1 {
        position: absolute;
        left: -100vw;
        transition: all .5s;
        z-index: 1;
    }

    .box2 {
        width: 100%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .cross {
        transition: all .5s;
    }
}

@media (max-width: 1340px) {
    .home {
        margin-left: 0;
    }

    .browse {
        margin-left: 1.7vw;
    }

    .box1 {
        width: 300px;
    }
}

@media (max-width: 1260px) {
    .ghayb {
        display: none;
    }

    .cardcontainer {
        justify-content: center;
    }
}

@media (max-width: 940px) {
    .browse {
        margin-left: 0;
    }
}

@media (max-width: 630px) {
    .bar {
        margin-right: 0;
    }

    .browse {
        display: none;
    }

    .playnow {
        font-size: 8px;
    }

    .playnow img {
        width: 25px;
    }

    .songinfo {
        font-size: 9px;
    }

    .songlist ul li img {
        width: 25px;
    }
}

@media (max-width: 580px) {
    #sb {
        display: none;
    }

    #lgb {
        display: none;
    }

}

@media (max-width: 720px) {
    .allign {
        display: flex;
        position: absolute;
        justify-content: space-between;
        bottom: 10px;
        width: 90%;
        height: 7vh;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
    }

}

@media (max-width: 530px) {
    .allign {
        width: 90%;
        height: 5.5vh;
        align-items: first baseline;
        font-family: "Roboto", sans-serif;
        font-size: 13px;
    }

    .card {
        width: 100%;
        background-color: #292929;
        border-radius: 10px;
        padding: 10px;
        position: relative;
    }
}