.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.align{
    align-items: center;
}
.rborder{
    border: 2px solid red;

}
.invert{
    filter: invert(1);
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a; 
}

::-webkit-scrollbar-thumb {
  background-color: #444; 
  border-radius: 6px;
  border: 2px solid #1a1a1a; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #444 #1a1a1a;
}
